################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Professional C++/.vs
*.exe
*.obj
/Professional C++/.vs
*.txt
